body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #ece9e6 0%, #ffffff 100%);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 700px;
    width: 100%;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    font: 900;
}
h2{
    font: italic;
    font-size: 16px;
}

.signature-container {
    margin-bottom: 20px;
    border: 2px dashed #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #f9f9f9;
}

canvas {
    display: block;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: crosshair;
    width: 100%;
    height: auto;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* background-color: #007bff; */
    color: white;
    transition: background-color 0.3s ease;
}
#save{
    background-color: #34C759;
}
#clear{
    background-color: #c70000;
}
#undo{
    background-color: #0056b3;
}

.btn:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .container {
        padding: 20px;
    }

    h1 {
        font-size: 20px;
    }

    .signature-container {
        padding: 5px;
    }

    .btn {
        padding: 8px 16px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 18px;
    }

    .btn {
        padding: 6px 12px;
        font-size: 12px;
    }
}
